.unavailable{
  background-color: gray;
}
.available{
  background-color: greenyellow;
}

.request-assigned{
  background-color: blue;
}

.pickup{
  background-color: coral;
}

.busy{
  background-color: red;
}